{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <form>
    {% csrf_token %}

    <div class="row" style="border:solid">
       <div class="col-lg-12 col-md-12">
          {{form.nome|as_crispy_field}}
       </div>

    </div>
    <div class="row" style="border:solid">
       {{form.email|as_crispy_field}}
    </div>
    <div class="row" style="border:solid">
       {{form.telefone|as_crispy_field}}
    </div>
    <div class="row" style="border:solid">
       {{form.data_criacao|as_crispy_field}}
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
{% endblock %}